---
import dayjs from 'dayjs'
interface Props {
  startDate: Date
  endDate?: Date
}
const {
  startDate,
  endDate
} = Astro.props;

const format = 'MMM-YYYY'
const renderdEndDate = ` - ${endDate ? dayjs(endDate).format(format) : 'Current'}`;
---
<span>
  {dayjs(startDate).format(format)}{renderdEndDate}
</span>