---
import { getCollection } from 'astro:content';
export async function getStaticPaths() {
  const blogEntries = await getCollection('dev');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---
<div
  class:list={[
   'container',
   'mx-auto',
   'text-xl',
   'leading-relaxed',
   'wrapper' ]}
>
  <Content />
</div>
<style lang="scss">
  .wrapper{
    :global(h2){
      font-weight: bold;
      font-size: 3rem;
    }
    :global(p){
      margin: 8px 0;
    }
  }
</style>
