---
import HomeLayout from '../layouts/Home.astro';
import Layout from '../layouts/Layout.astro';
import Section from'../components/Section.astro';
import ListItem from'../components/ListItem.astro';
import sosiGlasses from '../assets/photos/sosi_glasses.jpg'
import bedHead from '../assets/photos/bed_head.PORTRAIT.jpg'
import noisySVG from '../assets/svg/noisy.svg';
import Hexagon from '@/components/Hexagon.astro';
import ContactHex from '@/components/ContactHex/ContactHex.astro';
import HexGrid from '@/components/HexGrid.astro';

const svgUrl = `url(${noisySVG})`
---

<Layout classes={["homePage"]}>
	<HomeLayout >
    <ListItem>
			<div class:list={['devSection']}>
      	<div class:list={["gradientSvg"]}/>
      <Section noun='Dev'>
      	<div class:list={["devBody"]}>
          <a href="./dev/cv">
              Check out my Resume
          </a>
            <br/>
          <a href="./dev/blog">
            Obligatory blog posts
          </a>
        </div>
      </Section>
			</div>
    </ListItem>	
    <ListItem>
      <Section noun='Dad'/>	
    </ListItem>	
    <ListItem>	
      <Section noun='Photographer'>
      	<HexGrid>
          <Hexagon
            imgSrc={sosiGlasses}
            imgAlt="baby wearing sunglasses, sitting in father's lap"
          />
          <ContactHex
            type="tel"
            href="612-741-1838"
            text="call or text"
            />
          <Hexagon 
            imgSrc={bedHead}
            imgAlt="Fatehr and daughter both have bed head and look confussed"
          />
          <ContactHex
            type="email"
            href="john.nissenhooper@gmail.com"
            text="email me"
          />
				</HexGrid>
			</Section>
    </ListItem>
	</HomeLayout>
</Layout>

<style is:global>
  :root {
    --root-transition:all 0.3s ease-in-out 0s;
    --root-backgroundColor: #191c1c;
    --root-backgroundAccent: gray;
    --root-popOne: #15d4d4;
    /* --root-popTwo: #C70A80; */
    --root-popTwo: #cfbcff;
    /**
     * blue yellow pink
     **/
    /* --root-backgroundColor: #072448; */
    /* --root-accentOne: #54d2d2; */
    /* --root-accentTwo: #f8aa4b; */
    /* --root-popOne: #ffcb00; */
    /* --root-popTwo: #ff6150; */

    /* blue yellows */
    /*
    --root-backgroundColor: #1a1b4b;
    --root-accentOne: #292a73;
    --root-accentTwo: #3e4491;
    --root-popOne: #3a9efd;
    --root-popTwo: #f7a400;

     */

    /* --root-backgroundColor: #1f306e; */
    /* --root-accentOne: #553772; */
    /* --root-accentTwo: #8f3b76; */
    /* --root-popOne: #c7417b; */
    /* --root-popTwo: #f5487f; */

  }
</style>
<style lang="scss" define:vars={{
	svgUrl
}}>
	html.homePage{
		/* background-color: black; */
    background-color: var(--root-backgroundColor);
		color: white;
	}
	main {
		margin: auto;
	}
	.devSection{
		/* padding-top:20px; */
		position:relative;
		/* color:black; */
		width:100%;
		height:100%;
		.devBody{
			/* background-color: #07ffff; */
			margin-top:0px;
			height:100%;
		}
	}
	.gradientSvg {
		position: absolute;
		top:-130px;
		width: 100%;
		height: 180px;
		z-index: -1;
		filter: contrast(270%) brightness(850%) invert(100%);;
		/* background: */
	/* linear-gradient(0deg, rgba(232,67,38,1), rgba(0,0,0,0)), */
	/* url("data:image/svg+xml,%3Csvg viewBox='0 0 56 56' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.84' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */
}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
