---
interface Props {
  classes?: string[]
};

const {
  classes = []
} = Astro.props

---

<li class:list={[...classes]}>
    <slot/>
</li>
<style>
ul {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(auto-fill, 1fr); 
}
</style>
