---
interface Props {
  noun: string
};

const {noun, } = Astro.props;
---

<div class:list={['wrapper',]}>
  I am {noun}
  <slot/>
</div>
<style>
  .wrapper{
    padding-top:20px;
		position: relative;
     height: 100%; 
    width:100%; 
  }
</style>
