---
interface Props {
  noun: string
};

const {noun, } = Astro.props;
---

<div class:list={['wrapper',]}>
  <h2 class:list={["text-5xl"]}>
    I am {noun}
  </h2>
  <slot/>
</div>
<style>
  .wrapper{
    padding-top:20px;
		position: relative;
     height: 100%; 
    width:100%; 
  }
  h2 {
    margin: 12px 0;   
  }
</style>
